body
  -webkit-overflow-scrolling: touch
  display: none


#big-video-wrap
  background-color: black



ul#nav.about-black
  a
    color: black
    border-bottom: 2px solid black
    &:hover,&.current
      border-bottom: 4px solid black
    &:active,&.current
      border-bottom: 4px solid black

#header
  position: relative
  width: 100%
  height: 55px
  z-index: 10
  .center
    +container($total-columns, $break-1, $break-2)
    position: relative
  &.black
    //+background-image(linear-gradient( rgba(0,0,0, 0.8), rgba(0,0,0,0)))
    background: rgba(0, 0, 0, 0.9)

    #menubg
      background: rgba(0, 0, 0, 0.9)
    #breadcrumb
      color: white
    .menuopen-icon
      +assign-sprite-background($assets)
      +sprite($assets, "plus_icon_black", true)
    .logo-icon
      +assign-sprite-background($assets)
      +sprite($assets, "logo_white", true)
    .menuclose-icon
      +assign-sprite-background($assets)
      +sprite($assets, "x_icon_black", true)
      margin-bottom: 20px
    #options
      a.menulink
        color: white
        border-bottom: 2px solid white
        &:hover
          border-bottom: 4px solid white
        &:active
          border-bottom: 4px solid white
    hr
      border: none
      background: white
      margin-top: 0
      margin-bottom: 0
      top: 31px
      z-index: 12
      height: 2px
      position: relative
      clear: both
  &.white
    //+background-image(linear-gradient( rgb(255,255,255) 30%, rgba(255,255,255,0)))
    background: rgba(255,255,255,0.9)
    #menubg
      background: rgba(255, 255, 255, 0.95)
    #breadcrumb
      color: black
    .logo-icon
      +assign-sprite-background($assets)
      +sprite($assets, "logo_black", true)
    .menuopen-icon
      +assign-sprite-background($assets)
      +sprite($assets, "plus_icon_white", true)

    .menuclose-icon
      +assign-sprite-background($assets)
      +sprite($assets, "x_icon_white", true)
      margin-bottom: 20px
    #options
      a.menulink
        color: black
        border-bottom: 2px solid black
        &:hover
          border-bottom: 4px solid black
        &:active
          border-bottom: 4px solid black
    hr
      border: none
      background: black
      margin-top: 0
      margin-bottom: 0
      top: 31px
      z-index: 12
      height: 2px
      position: relative
      clear: both


#menubg
  display: none
  z-index: 10
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 100%

#menu
  position: relative
  //+span-columns(6 omega,7)
  top: 15px
  font-family: "Circular", helvetica, arial, sans-serif
  font-weight: 400
  font-size: px-to-em(16px,16px)
  #breadcrumb
    float: left

#options
  display: none
  z-index: 10
  position: absolute
  top: 5px
  right: 0.625em
  text-align: right
  ul
    +no-bullets
    clear: both

  li
    height: 40px
  a
    //text-transform: uppercase
    font-weight: 700
    //font-size: px-to-em(26px,16px)
    font-size: px-to-em(28px,16px)
    line-height: normal

    text-decoration: none

    padding-bottom: 0px
    font-family: "Circular", helvetica, arial, sans-serif




ul#nav
  position: relative
  +span-columns(6 omega,7)
  top: 15px
  +no-bullets
  padding: 0
  margin-top: 0
  li
    position: inline-block
    +float-right
    margin-left: 20px

  a
    //text-transform: uppercase
    font-weight: 700
    font-size: px-to-em(24px,16px)
    text-decoration: none
    //border-bottom: 2px solid white
    //padding-bottom: 2px
    color: white
    font-family: "Circular", helvetica, arial, sans-serif
    &:hover,&.current
      border-bottom: 4px solid white
    &:active,&.current
      border-bottom: 4px solid white

a#logo
  z-index: 11
  position: relative
  float: left
  //+span-columns(3,7)
  top: 18px
  &:hover
    opacity: 0.8


a#menuopen
  z-index: 11
  float: right
  &:hover
    opacity: 0.8


a#menuclose
  float: right
  margin-bottom: 28px
  //border-bottom: 0px
  &:hover
    opacity: 0.8
    //border-bottom: 0px


.head
  position: relative
  +span-columns(7,7)
  margin-top: 20px
.page

  +clearfix
  +container($total-columns, $break-1, $break-2)

  &.black
    background: black
    h1, p, a
      color: white
    hr
      background: white !important
  .bkgr
    +opacity(.3)
    +stretch(0,0,0,0)
    position: fixed
    background-color: black

  h1
    font-family: "Circular", helvetica, arial, sans-serif
    margin-top: 0
  p, a
    font-family: "Circular", helvetica, arial, sans-serif
    margin-top: 0
  p
    font-weight: 400
    font-size: px-to-em(16px,16px)
    line-height: 20px


  h1#headline
    font-weight: 700
    font-size: px-to-em(40px,16px)
    line-height: px-to-em(40px,40px)
    letter-spacing: -1px
    margin-top: 10px
    position: relative
    margin-bottom: 0.3em

  .clear
    clear: both
  hr
    border: none
    background: black
    margin-top: 0
    margin-bottom: 0
    &.primary
      height: 2px
      margin-bottom: 3px
      position: relative
      clear: both
    &.secondary
      height: 1px
      margin-top: 15px
      margin-bottom: 15px
      position: relative
  p.about
    margin-top: 20px
    clear: left
    a
      color: black

  .apply
    +span-columns(7,7)


  .handbookimg
    +span-columns(3,7)
    margin-top: 20px
    margin-bottom: 16px

  .handbook
    +span-columns(4 omega,7)

  .handbookimgstudios
    float: left
    padding-right: 5%
    width: 45%
    margin-bottom: 26px

  .handbooktextstudios
    float: left
    width: 50%



  .studio
    clear: both
    padding-top: 20px

  p.studiotitle
    font-size: px-to-em(24px,16px)
    text-transform: uppercase
    margin-bottom: 5px

  .studioinfo
    //float: left

  .studioleft
    font-family: "Circular", helvetica, arial, sans-serif
    font-weight: 400
    font-size: px-to-em(16px,16px)
    line-height: 19px
    a
      color: black

  .studioright
    font-family: "Circular", helvetica, arial, sans-serif
    font-weight: 400
    font-size: px-to-em(16px,16px)
    line-height: 19px
    margin: 0px
    a
      color: black

  a.applybutton
    display: block
    float: left
    padding: 9px 25px 9px 25px
    font-size: px-to-em(16px,16px)
    font-weight: 700
    text-transform: uppercase
    background-color: black
    color: white
    text-decoration: none

  ul.studio
    font-family: "Circular", helvetica, arial, sans-serif
    margin: 0px
    padding-left: 18px

  #lifestream
    overflow: hidden
    // min-height: 400px
    margin-top: 15px
    position: relative

  ul.lifestream
    display: none
    overflow: auto
    position: relative
    &::-webkit-scrollbar
      display: none



    +no-bullets
    padding: 0
    margin: 0

    li
      position: relative
      z-index: 2
      @include clearfix
      margin-top: 10px
      color: white
      margin-bottom: 15px
    .icon
      margin-right: 15px
      +float-left
    .white-facebook
      +assign-sprite-background($assets)
      +sprite($assets, "facebook_white", true)
    .white-vimeo
      +assign-sprite-background($assets)
      +sprite($assets, "vimeo_white", true)
    .white-twitter
      +assign-sprite-background($assets)
      +sprite($assets, "twitter_white", true)
    .content
      +span-columns(6 omega,7)

      .timeago
        color: white
        font-size: px-to-em(12px,16px)
        +opacity(.6)
      p
        margin: 0
        margin-bottom: 10px
        font-size: px-to-em(16px,16px)
      a

        word-wrap: break-word
      ul.thumbnail
        +no-bullets
        padding: 0
        margin-top: 0
        li.img
          margin-top: 0
          +span-columns(2,6)
          height: 95px
          border: 1px solid white
          margin-left: -2px
          &:last-child
            margin-right: 0


#lifestream
  position: relative
  +span-columns(7,7)


.gmap
  +span-columns(7,7)
  max-width: 1980px
  min-height: 480px
  background: white
  margin-bottom: 30px
  -webkit-filter: grayscale(100%)
  -moz-filter: grayscale(100%)
  -ms-filter: grayscale(100%)
  -o-filter: grayscale(100%)
  filter: grayscale(100%)
  filter: url(grayscale.svg)
  filter: gray

.gmap img
  vertical-align: top
  max-width: 100%
  -webkit-filter: grayscale(100%)
  -moz-filter: grayscale(100%)
  -ms-filter: grayscale(100%)
  -o-filter: grayscale(100%)
  filter: grayscale(100%)
  filter: url(grayscale.svg)
  filter: gray

#header.info
  display: none

span.redirect
  unicode-bidi: bidi-override
  direction: rtl

#footer	
  position: relative
  +span-columns(7,7)
  ul
    padding: 10px 0 !important
    +horizontal-list-container
    li

      +horizontal-list-item
      color: white
      font-family: "Circular", helvetica, arial, sans-serif
