+at-breakpoint($break-2)
  #header.white, #header.black
    .center
      +pre(2)
      +post(2)
  .page
    +pre(2)
    +post(2)
    ul.lifestream
      +span-columns(16,16)
      li
        +span-columns(16,16)
        .content
          +span-columns(10,16)
          float: left !important
          p
            font-size: px-to-em(22px,16px)
            line-height: px-to-em(17px,16px)
    .apply
      +span-columns(9,16)

    .handbookimg
      +span-columns(3,16)

    .handbook
      +span-columns(4 omega ,16)

    .handbookimgstudios
      padding-right: 5%
      width: 45%

    .handbooktextstudios
      width: 50%


  .columns
    +span-columns(16,16)

    +column-count(2)
    $gap: gutter(16)
    +column-gap($gap)
    $col: columns(6,12)
    +column-width($col)

  
  //#options
    //li
      //height: 100px
    //a
      //font-size: px-to-em(72px,16px)

  ul#nav
    +span-columns(15 omega,16)
  //#menu
    //+span-columns(15 omega,16)
  //a#logo
    //+span-columns(3,16)

  .gmap
    +span-columns(16,16)

  .studioinfo
    +span-columns(16,16)

  .studioleft
    +span-columns(8,16)

  .studioright
    +span-columns(8,16)

  .apply
    +span-columns(8,16)

  .handbookimg
    +span-columns(4,16)

  .handbook
    +span-columns(4,16)
