@font-face {
  font-family: 'FagoNoRegular';
  src: url('/fonts/fago/FagoNoRegular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/fago/FagoNoRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/fago/FagoNoRegular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/fago/FagoNoRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/fago/FagoNoRegular.svg#1c45d1b4f5202e1ca1f962981a3a373d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'FagoNoBold';
  src: url('/fonts/fago/FagoNo-Bold.eot'); /* IE9 Compat Modes */
  src: url('/fonts/fago/FagoNo-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/fago/FagoNo-Bold.woff') format('woff'), /* Modern Browsers */
       url('/fonts/fago/FagoNo-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/fago/FagoNo-Bold.svg#9d26282a981d733d518993c05c65da9a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}