@import compass
@import h5bp
@import "compass/layout/stretching"

+h5bp-normalize
+h5bp-chromeframe
+establish-baseline

$legacy-support-for-ie: true

$assets-layout:smart
$assets: sprite-map("assets/*.png")


@import partials/custom_mixin
@import partials/fonts
@import partials/grid
@import partials/general
@import partials/bigvideo
@import partials/stroll
@import partials/hook
@import partials/perfect-scrollbar

@import partials/320
@import partials/640
@import partials/960

body
  -webkit-font-smoothing: antialiased
  
