@import compass/css3/font-face
@import partials/fonts
@import partials/custom_mixin

#header.info
    display: none

h1,h2,h3,h4,h5,h6,p,li,ul,ol,label,span,#instruct120,#instruct122
    font-family: fago, helvetica, arial, sans-serif !important
#instruct122
    font-weight: 400
    font-size: px-to-em(10px,16px)
    color: red !important
    margin: 0 !important
    padding: 0  !important

#instruct120
    font-weight: 400
    font-size: px-to-em(20px,16px)
    line-height: 19px
    color: white
    margin: 0 !important
    padding: 0  !important

#container, html.embed
    background-color: black !important
form li
    padding: 20px 0 0 0 !important

input.text, input.search, textarea.textarea
    background: white
    border-color: white
    border-width: 2px
    min-height: 20px

input[type="submit"]
    background: white
    color: white
    padding: 5px 10px !important
    border: none !important

input[type="submit"],input[type="text"],input[type="email"],input[type="url"],textarea, select
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    border-top-left-radius: 0
    border-top-right-radius: 0
    -webkit-border-radius: 0
    border-radius: 0
    -webkit-appearance: none
    border-color: white
    border-width: 2px
    min-height: 20px

#Field126
    padding: 4px

input[type="text"]:disabled
    background: grey
    color: white

#errorLi
    border-radius: 0
    padding: 20px 0 !important

p.error
    padding: 7px 0 !important
.wufoo label.desc, .wufoo legend.desc, .wufoo label.choice
    color: white

.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label, .wufoo input.file
    color: white

li.over25
    display: none

input[type="submit"], input[type="text"], input[type="email"], input[type="url"], textarea, select
    color: black