.center
  #menubg
    #options
      %a#menuclose.menuclose-icon{href: 'javascript:toggleMenu();'}
      <br/>
      %a.menulink{href: "/apply.html"} Apply<br/>
      %a.menulink{href: "/about.html"} About<br/>
      %a.menulink.current{href: "/studios.html"} Studios<br/>
      %a.menulink{href: "http://store.fabrica.it"} Store<br/>
  %a#logo.homelink.logo-icon{href: '/'}
  #menu
    #breadcrumb
      &gt; Studios
    %a#menuopen.menuopen-icon{href: 'javascript:toggleMenu();'}