.center
  #headerbg
  #menubg
  #options
    %a#menuclose.static{href: 'javascript:toggleMenu();'}

    %ul

      %li
        %a.menulink{href: "/apply.html"} Apply
      %li
        %a.menulink{href: "/about.html"} About
      %li
        %a.menulink{href: "/areas.html"} Areas
      %li
        %a.menulink{href: "http://store.fabrica.it"} Store
  %a#logo.homelink.logo-icon.normal{href: '/'}
  #menu
    /
      #breadcrumb
        &gt; Studios
    //%a#menuopen.menuopen-icon{href: 'javascript:toggleMenu();'}
    %a#menuopen.animate{href: 'javascript:toggleMenu();'}
  %hr