.center
  #menubg
  #options
    //%a#menuclose.menuclose-icon{href: 'javascript:toggleMenu();'}
    %a#menuclose{href: 'javascript:toggleMenu();'}
      %img{src: '/images/assets/close_icon_white.png', width: '15', height: '15'}

    %ul

      %li
        %a.menulink{href: "/apply.html"} Apply
      %li
        %a.menulink{href: "/about.html"} About
      %li
        %a.menulink{href: "/studios.html"} Studios
      %li
        %a.menulink{href: "http://store.fabrica.it"} Store
  //%a#logo.homelink.logo-icon{href: '/'}
  %a#logo{href: '/'}
    %img.logoimg{src: '/images/assets/logo_white.png', width: '184', height: '15'}
  #menu
    /
      #breadcrumb
        &gt; Studios
    //%a#menuopen.menuopen-icon{href: 'javascript:toggleMenu();'}
    %a#menuopen{href: 'javascript:toggleMenu();'}
      %img{src: '/images/assets/open_icon_white.png', width: '15', height: '15'}
  %hr