#header-white
    .center
        %a#logo.black-icon{href: '/'}
        %ul#nav.about-black
            %li
                %a{href: '/about.html'} About
            %li
                %a{href: '/apply.html'} Apply
.page
    
    %h1#headline
        404 o nooooo!
    %hr.primary

= javascript_include_tag "other"