#header.white
  = partial "partials/menu"

.page

  %h1#headline
    We are based in Italy and work globally.
  %hr.primary

  <br/>

  .studioinfo
    .studioleft
      //3282D0 blue
      //ff602f orange
      //ff3c52 pink
      <b>Our web site is in beta and under constant development. Check back soon for new content.</b><br/>
      <br/>
      Fabrica is a research workshop, new school and studio. It pursues research through making, producing groundbreaking projects in collaboration with the world’s best creative talents. Our desire is to positively impact upon social and cultural change. Fabrica pursues its own projects as well as working for others, from commercial clients to governments, NGOs and the cultural sector, developing tangible research, expertly communicated.<br/>
      <br/>
      Fabrica was created by Benetton in 1994, and projects have won Webbies, Academy Awards, Cannes Grand Prix, Art Directors Club and D&AD awards and more besides. If you are 25 or under, you can <a href="/apply">apply</a> for a scholarship to join our research community. If you are interested in collaborating, we'd be happy to talk.<br/>
      <br/>

      <b>Contact Us</b>
      %br/
      Fabrica
      %br/
      Villa Pastega, via Postioma 54/F
      %br/
      Catena di Villorba
      %br/
      31020, Treviso, Italy
      %br/
      %br/
      %a{ :href=>"mailto:fabrica@fabrica.it"}
        %span{:class => "redirect"} ti.acirbaf@acirbaf
      %br/
      Phone +39 0422 516111
      <br/><br/>

    .studioright
      #map.gmap{"data-center" => "via Postioma 54/F Catena di Villorba 31020, Treviso, Italy", "data-zoom" => "15"}

  %hr.primary

  <br/>

  .timeline
    .timelineleft
      .timelineyear
        1994
      Fabrica is created based on the shared idea of Luciano Benetton and Oliviero Toscani.
    .timelinebar
      .timelinebarline
    .timelineright
      .timelineyear
        1995
      <a href="http://www.imdb.com/name/nm0716585/">Godfrey Reggio</a>, then-director of Fabrica, directs and produces the film <a href="http://www.imdb.com/title/tt0112990/"><i>Evidence</i></a> about children and TV, scored by Philip Glass.
    .timelinebar
      .timelinebarline
    .timelineleft
      .timelineyear
        1996
      Fabrica hosts the first conference of the <i>International Federation of SOS Racisme</i>.
    .timelinebar
      .timelinebarline
    .timelineright
      .timelineyear
        1997
      <a href="http://www.colorsmagazine.com">COLORS magazine</a> headquarters moves into Fabrica.
    .timelinebar
      .timelinebarline
    .timelineleft
      .timelineyear
        1998
      Fabrica Musica is launched under the direction of <a href="http://www.imdb.com/name/nm0301704/">Michael Galasso</a>.
    .timelinebar
      .timelinebarline
    .timelineright
      .timelineyear
        1999
      <i>Seventeen Years</i> by Zhang Yuan wins the Silver Lion at the Venice Film Festival. Fabrica starts its own TV talk-show about creativity on Italian television channel TMC2.
    .timelinebar
      .timelinebarline
    .timelineleft
      .timelineyear
        2000
      Fabrica’s new headquarters are opened by Japanese architect <a href="http://en.wikipedia.org/wiki/Tadao_Ando">Tadao Ando</a>.
    .timelinebar
      .timelinebarline
    .timelineright
      .timelineyear
        2001
      <i>Sangam: The Meeting Point</i> is released, a project by <a href="http://en.wikipedia.org/wiki/Michael_Nyman">Michael Nyman</a> for Fabrica Musica.
    .timelinebar
      .timelinebarline
    .timelineleft
      .timelineyear
        2002
      <a href="http://www.imdb.com/title/tt0283509/"><i>No Man’s Land</i></a> by Danis Tanovic wins Best Foreign Film at the Oscars and Golden Globes, and wins Best Screenplay at the Cannes Film Festival in France.
    .timelinebar
      .timelinebarline
    .timelineright
      .timelineyear
        2003
      <i>Nuvolari tra la terra e il cielo</i> on show at Palazzo Te in Mantua, Italy. Laura Pollini becomes the new Director of Fabrica.
    .timelinebar
      .timelinebarline
    .timelineleft
      .timelineyear
        2004
      <i>Credo</i>, an opera about ethnic and religious conflicts goes on stage in Karlsruhe, Germany.
    .timelinebar
      .timelinebarline
    .timelineright
      .timelineyear
        2005
      <i>The F Award</i>, an international competition for socially-concerned photography, is launched in collaboration with Forma.
    .timelinebar
      .timelinebarline
    .timelineleft
      .timelineyear
        2006
      <i>Les Yeux Ouverts</i>, an exhibition about Fabrica, opens at the Centre Pompidou in Paris.
    .timelinebar
      .timelinebarline
    .timelineright
      .timelineyear
        2007
      <a href="http://en.wikipedia.org/wiki/Al_Gore">Al Gore</a> speaks at an exhibition of <i>Les Yeux Ouverts</i> at the Milan Triennale, in conjunction with COLORS <i>#71- Vörland</i>, an issue entirely dedicated to the environment.
    .timelinebar
      .timelinebarline
    .timelineleft
      .timelineyear
        2008
      Fabrica develops a global campaign on child injury prevention for the United Nations’ WHO and UNICEF.
    .timelinebar
      .timelinebarline
    .timelineright
      .timelineyear
        2009
      Interactive art installations <i>Venetian Mirror</i> and <a href="http://www.exquisiteclock.org/"><i>Exquisite Clock</i></a> show in the exhibition <a href="http://www.vam.ac.uk/microsites/decode/"><i>Decode: Digital Design Sensations</i></a> at the V&A museum in London.
    .timelinebar
      .timelinebarline
    .timelineleft
      .timelineyear
        2010
      Two Fabricanti re-interpret <i>Dante’s Inferno</i> with a book of illustration and commentary, published by Mondadori as <i>L’inferno di Dante. Una storia naturale (Dante’s Inferno: a Natural History)</i>.
    .timelinebar
      .timelinebarline
    .timelineright
      .timelineyear
        2011
      Fabrica creates <a href="http://unhate.benetton.com/unhate-campaign-2011/"><i>UNHATE</i></a>, a campaign on behalf of United Colors of Benetton. <i>UNHATE</i> wins Press Grand Prix at Cannes Lions International Festival of Creativity, among many other awards.
    .timelinebar
      .timelinebarline
    .timelineleft
      .timelineyear
        2012
      <a href="http://www.alessandrobenetton.com/">Alessandro Benetton</a> becomes the new Chairman of The Benetton Group. <a href="http://www.cityofsound.com/">Dan Hill</a> becomes the new CEO of Fabrica. An Advisory Board is established, presided over by <a href="http://www.rca.ac.uk/Default.aspx?ContentID=507540">Paul Thompson</a>, Rector of the Royal College of Art in London.
    .timelinebar
      .timelinebarline
    .timelineright
      .timelineyear
        2013
      Italian journalist <a href="http://www.robertosaviano.it/">Roberto Saviano</a> presents his latest book, <i>Zerozerozero</i> in the Fabrica agora with 800 people in attendance.
    .timelinebar
      .timelinearrow
        %img{src: '/images/assets/timeline_arrow.png', width: '27', height: '50'}


%script{:src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyCKTYhE_M2R4xDkbw52flmdIfni7KlvWmk&sensor=false", :type => "text/javascript"}

= javascript_include_tag "map"
= javascript_include_tag "menu"