#header.white
  = partial "partials/menu"

.page

  %h1#headline
    We are based in Italy and work globally.
  %hr.primary

  <br/>

  .studioinfo
    .studioleft
      Fabrica is a research workshop, new school and studio. It pursues research through making, producing groundbreaking projects in collaboration with the world’s best creative talents. Our desire is to positively impact upon social and cultural change. Fabrica pursues its own projects as well as working for others, from commercial clients to governments, NGOs and the cultural sector, developing tangible research, expertly communicated.<br/>
      <br/>
      Fabrica was created by Benetton in 1994, and projects have won Webbies, Academy Awards, Cannes Grand Prix, Art Directors Club and D&AD awards and more besides. If you are 25 or under, you can <a href="/apply">apply</a> for a scholarship to join our research community. If you are interested in collaborating, we'd be happy to talk.<br/>
      <br/>

      <b>Contact Us</b>
      %br/
      Fabrica
      %br/
      Villa Pastega, via Postioma 54/F
      %br/
      Catena di Villorba
      %br/
      31020, Treviso, Italy
      %br/
      %br/
      %a{ :href=>"mailto:fabrica@fabrica.it"}
        %span{:class => "redirect"} ti.acirbaf@acirbaf
      %br/
      Phone +39 0422 516111
      <br/><br/>
      
    .studioright
      #map.gmap{"data-center" => "via Postioma 54/F Catena di Villorba 31020, Treviso, Italy", "data-zoom" => "15"}

%script{:src => "http://maps.googleapis.com/maps/api/js?key=AIzaSyCKTYhE_M2R4xDkbw52flmdIfni7KlvWmk&sensor=false", :type => "text/javascript"}

= javascript_include_tag "map"
= javascript_include_tag "menu"