.page
	#header-white
	%a#logo.black-icon{href: '/'}
	%ul#nav.about-black
		%li
			%a{href: '/about.html'} About
		%li
			%a{href: '#'} Apply
	%h1.headline
		We are based in Italy and work globally.
	%hr.primary
	%p.about
		Our organisation is built for the 21st century, and designed to address 21st century problems and opportunities. Our advantage is our diversity – of people, perspectives, formats, technologies – as well as our deep connection to the cultural mainstream, while our networked approach enables agility and openness. We are a form of school as well as studio, and so we are constantly learning, producing questions as well as answers.