#header-black
	.center
		#menubg.blackmenubg
			.center#optionswhite
				%a#menuclose.menuclose-white-icon{href: 'javascript:toggleMenu();'}
				<br/>
				%a.menulink{href: "/apply.html"} Apply<br/>
				%a.menulink{href: "/about.html"} About<br/>
				%a.menulink{href: "/studios.html"} Studios<br/>
				%a.menulink{href: "http://store.fabrica.it"} Store<br/>
		%a#logo.homelink.white-icon{href: '/'}
		#menu
			%a#menuopen.menuopen-white-icon{href: 'javascript:toggleMenu();'}
	
.page.black
	/.bkgr
	.head
		%h1#headline
			Fabrica is a communications research centre.
		%hr.primary
	
	#hook.hook
		#loader
			.spinner
		%span.hook-text Reloading...
	#lifestream


	#footer
		%hr.primary
		%ul
			%li
				Copyright © 2009-2013 Fabrica S.p.A all rights reserved
			%li
				|
			%li
				VAT n.01926330265
			%li
				|
			%li
				Privacy
= javascript_include_tag "site"
= javascript_include_tag "menu"
