.page.black
	#header-black
	%a#logo.white-icon{href: '/'}
	%ul#nav
		%li
			%a{href: '/about.html'} About
		%li
			%a{href: '#'} Apply
	%h1.headline
		Fabrica is a communications research centre.
	%hr.primary
	%ul#feed
		%li
			.icon.white-facebook
			.content
				%p
					Fabrica & Villa Necchi are featured also on Io Donna
				%a{href: '#'} http://www.iodonna.it/casa/design/2013/design-gallery-12-aprile-401365436804-9.shtml
				%hr.secondary
		%li
			.icon.white-twitter
			.content
				%p
					Fabrica #Belvedere #Photos
				%ul.thumbnail
					%li.img
					%li.img
					%li.img
				.clear
				%hr.secondary
		%li
			.icon.white-facebook
			.content
				%p
					Fabrica & Villa Necchi are featured also on Io Donna
				%a{href: '#'} http://www.iodonna.it/casa/design/2013/design-gallery-12-aprile-401365436804-9.shtml
				%hr.secondary
		%li
			.icon.white-facebook
			.content
				%p
					Fabrica & Villa Necchi are featured also on Io Donna
				%a{href: '#'} http://www.iodonna.it/casa/design/2013/design-gallery-12-aprile-401365436804-9.shtml
				%hr.secondary
		%li
			.icon.white-twitter
			.content
				%p
					Fabrica #Belvedere #Photos
				%ul.thumbnail
					%li.img
					%li.img
					%li.img
				.clear
				%hr.secondary
