.page
	#header
		%span
			%a{:href => "#"}
				FABRICA
			
#menu
	%ul{:class=>"nav"}
		%li.one
			%a{:href=>"#about"}
				About
		%li.two
			%a{:href=>"#apply"}
				Apply
		%li.three
			%a{:href=>"#latest"}
				Latest
		%li.more
			%a{:href=>"#more"}
				%i{:class=>"icon-reorder"}	
#sliding{ :"data-target"=>"#menu"}
	#landing

	#about.bkgr
		%h2 About
		%p 
			=lorem.paragraphs 5
	#apply.bkgr
		%h2 Aplly
		%p
			=lorem.paragraphs 2
	#latest.bkgr
		%h2 Latest
		%p
			=lorem.paragraphs 1
	#more.bkgr
		%h2 More
		%p
			=lorem.paragraphs 3
		
		

	/ .addthis_toolbox.addthis_default_style.addthis_32x32_style
	/ 	%a.addthis_button_facebook
	/ 	%a.addthis_button_twitter
	/ 	%a.addthis_button_google_plusone_badge
	/ 	%a.addthis_counter.addthis_bubble_style
	:javascript
		var addthis_config = {"data_track_addressbar":true};
	%script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-51515e430e09dbc0", :type => "text/javascript"}