
.page.black
	.bkgr
	#header-black
		%a#logo.white-icon{href: '/'}
		%ul#nav
			%li
				%a{href: '/about.html'} About
			%li
				%a{href: '/apply.html'} Apply
	
	
	.head
		%h1#headline
			Fabrica is a communications research centre.
		%hr.primary
	
	#hook.hook
		#loader
			.spinner
		%span.hook-text Reloading...
	#lifestream



= javascript_include_tag "site"
