%body
  #header.white
    = partial "partials/menu"

.page

  %h1#headline
    You can apply to Fabrica's studios throughout the year.
  %hr.primary

  <br/>

  .studioinfo
    .studioleft
      Fabrica is organised into studios, each exploring a particular theme or area of interest. A studio is a space, a team, and a way of exploring a subject. Studios contain small, medium and large projects, running fast and slow across most forms of output. Each studio is a self-contained, multidisciplinary creative team, capable of making many things and shifting fluidly depending on need. Each studio is run by a studio lead. Although it is possible to move between studios, via different projects or projects shared between studios, you should apply to the studio that you are interested in. You will also get to pursue personal projects. Most studios last 12-18 months, and the current Fabrica studios are described below. Find out more about Fabrica's projects via our <a href="http://www.facebook.com/pages/Fabrica/48283858451">Facebook page</a>. Choose one studio below to apply to, and then we will ask you for personal details - you should be 25 or under, for instance - and portfolio.<br/>
      <br/>
    .studioright
      .handbookimgstudios
        %a{href: "/files/fabricantihandbook.pdf",target: "_blank"}
          %img{src: "/images/fabricantihandbook.gif", align: "left", width: "100%"}
      .handbooktextstudios
        <b>FABRICANTI HANDBOOK</b><br/>
        <br/>
        You can get a sense of life as a Fabrica researcher (aka "Fabricanti") from <a href="/files/fabricantihandbook.pdf">our current handbook</a> (PDF). NB: the organisational structure has changed to the studio format below.<br/>
        <br/>

  %hr.primary

  <br/>

  .studio
    %p.studiotitle
      <b>Being and Dying</b>
    %p
      <b>Studio Lead: Ivor Williams</b>

  .studioinfo
    .studioleft
      Researching and investigating current approaches to dying, through experimental design focusing on end-of-life care, assisted dying and suicide. Including broader issues around health and the environment, preventative and holistic healthcare, to challenge the notion of death in stark opposition to life. Utilising a wide range of approaches and perspectives, projects will develop new dialogues and models to engage with some of the most deep-rooted taboos in contemporary society. We use Fabrica as a test-bed and experimental environment, and produce books, essays, films, apps, self-directed research projects in collaboration with partners that range from experimental aesthetic reflections—design fictions, media, exhibitions, installations—through to service design- and experience design-led engagements with clients, such as health services, clinics, schools. Follow our activities on <a href="http://beinganddying.tumblr.com/">tumblr</a> and <a href="https://twitter.com/beinganddying">twitter</a>.<br/><br/>
    .studioright
      <b>We are looking for:</b><br/>
      Interaction designers, writers, coders, film makers, industrial designers and graphic designers.<br/><br/>
      %a.applybutton{href: "/apply"}
        Apply Now
      <br/><br/><br/>

  .studio
    %p.studiotitle
      <b>Campaign</b>
    %p
      <b>Studio Lead: Erik Ravelo</b>

  .studioinfo
    .studioleft
      The Campaign studio reinvents the contemporary campaign, drawing on social movements, guerilla campaigns, new enterprise and innovative social media. It explores the emerging DNA of social innovation and organisation, working particularly with Benetton’s projects. Its focus is challenging social and cultural issues: wars, censorship, diversity, inequality, environment, religion. The studio deploys arresting imagery to capture attention, and tools to build genuine resilience.<br/><br/>
    .studioright
      <b>We are looking for:</b><br/>
      Film makers, writers, graphic designers and coders.<br/><br/>
      %a.applybutton{href: "/apply"}
        Apply Now
      <br/><br/><br/>

  .studio
    %p.studiotitle
      <b>COLORS</b>
    %p
      <b>Studio Lead: Patrick Waterhouse</b>

  .studioinfo
    .studioleft
      COLORS is a quarterly magazine published in six bilingual editions: English + Italian, French, Spanish, Korean, Portuguese and Chinese, and distributed worldwide. Each issue covers a single topic, from Transport to Shit to Art, questioning and deconstructing through in-depth research that always begins with an idea. COLORS stretches the limits of what print can be, and also works across media including books, videos, internet, installations and exhibitions.<br/><br/>
    .studioright
      <b>We are looking for:</b><br/>
      Designers, writers, illustrators, photographers, journalists, for people in-between or simply interested and talented.<br/><br/>
      %a.applybutton{href: "/apply"}
        Apply Now
      <br/><br/><br/>

  .studio
    %p.studiotitle
      <b>Design Dialogues</b>
    %p
      <b>Studio Lead: Sam Baron</b>

  .studioinfo
    .studioleft
      We produce artefacts that bring a unique view or statement to a particular context, produced through design processes that are questioned each time. We work with languages and dialogues, visual and spoken sketches, hybrid products and approaches, and through constant editing. It enables us to create collections that absorb and build upon our own cultural differences and habits, drawn from several parts of the world, and yet address the context we are working with. We work on different scales from artisanal to industrial, from conceptual projects to international exhibitions, always paying attention to meanings and how things are done, in order to deliver the best experience to customers, clients, viewers and participants.<br/><br/>
    .studioright
      <b>We are looking for:</b><br/>
      Industrial designers, illustrators, interaction designers, coders, film makers, photographers, graphic designers and others.<br/><br/>
      %a.applybutton{href: "/apply"}
        Apply Now
      <br/><br/><br/>

  .studio
    %p.studiotitle
      <b>Document</b>
    %p
      <b>Studio Lead: Ries Straver</b>

  .studioinfo
    .studioleft
      The Document Studio focuses on documentary and documentation as an integral part of the creative process. We employ the languages and techniques of audio-visual documentation and digital storytelling to reflect on current social and cultural issues. We investigate the blurry line between fiction and non-fiction. We document with the aim to understand, but we use documentary to pose questions rather than give simplistic answers. We make film, video and animation and web-based media. In many cases a combination of those; hybrid projects across different platforms. Our stories are about real things, yet our work is based on ideas and imagination.<br/><br/>
    .studioright
      <b>We are looking for:</b><br/>
      Film makers, writers, web designers, coders, graphic designers, mobile developers, interaction designers and sound designers.<br/><br/>
      %a.applybutton{href: "/apply"}
        Apply Now
      <br/><br/><br/>

  .studio
    %p.studiotitle
      <b>Networked Politics</b>
    %p
      <b>Studio Leads: Joseph Grima and Marco Ferrari</b>

  .studioinfo
    .studioleft
      Working inside Fabrica, a communications research centre in Treviso, Italy, the Network Politics studio explores how cultures of decision-making, from formal politics to informal protest, have radically evolved in the age of the network. We observe the changing nature of protest both as a collective and individual activity - movements such as Occupy, the Indignados and the Arab Spring, or the digital activism of Wikileaks and Anonymous - reading it in relation to the physical space of the city. We are interested in social and political crises triggered by new technologies and the shifts in the balance of power they bring about. We engage peer-to-peer economies, decentralized currencies, radical transparency and open source culture to develop tools of social innovation for the digital era. We work on research, design and communications projects with clients from governments to galleries, in order to effect real change, as well as producing our own media, documentaries, exhibitions, platforms and objects, software, scenarios and events. Follow our activities on <a href="http://networkedpolitics.tumblr.com/">tumblr</a>.<br/><br/>
    .studioright
      <b>We are looking for:</b><br/>
      Hackers, makers, designers, coders, writers, photographers, film makers, data analysts, sociologists, and those in-between.<br/><br/>
      %a.applybutton{href: "/apply"}
        Apply Now
      <br/><br/><br/>

  .studio
    %p.studiotitle
      <b>Slow Journalism</b>
    %p
      <b>Studio Lead: Enrico Bossan</b>

  .studioinfo
    .studioleft
      We are a growing force made of multi-media storytellers and journalists. We believe that investigating social and cultural change, through researching and shining a light on events, makes the economic and political powers ruling a society accountable. Our challenge is to cover the unseen, the forgotten, and the invisible neglected by traditional media. We publish and distribute self-directed journalistic reportage, photography projects, narrative works, multimedia and video documentary. To understand contemporary reality and its abrupt changes, we evolve with its communication tools.<br/><br/>
    .studioright
      <b>We are looking for:</b><br/>
      Photographers, fIlm makers, writers, coders, graphic designers and interaction designers.<br/><br/>
      %a.applybutton{href: "/apply"}
        Apply Now
      <br/><br/><br/>

  .studio
    %p.studiotitle
      <b>Sound Interactions</b>
    %p
      <b>Studio Lead: Francesco Novara</b>

  .studioinfo
    .studioleft
      We explore the relationship between sound and objects, spaces, people and interactions. We use sound as a starting point, but the outcome might be objects, media, events and artefacts. Sound is one of the least understood yet most powerful senses and we produce self-directed research projects, in collaboration with partners, that explore the power of sound as interface, as medium, and as environment. These are often installations or artefacts, produced via a multidisciplinary team capable of producing spaces, media, objects and sounds as holistic experiences. We design new interfaces and experience around music, as well as exploring new formats and models for music and musicians in addition to making and performing music.<br/><br/>
    .studioright
      <b>We are looking for:</b><br/>
      Musicians, sound designers, film makers, coders, interaction designers and industrial designers.<br/><br/>
      %a.applybutton{href: "/apply"}
        Apply Now
      <br/><br/><br/>

    .studio
      %p.studiotitle
        <b>Urban Codes</b>
      %p
        <b>Studio Lead: Aaron Siegel</b>

    .studioinfo
      .studioleft
        Our Urban Codes studio creates new tools in order to better understand contemporary cities, citizens and urban cultures. It focuses on how people interact with each other and their environment, the changing norms of living in cities, how people navigate and communicate in their urban environments, and the types of artifacts, markings and patterns that urban cultures create both physically and virtually. Urban Codes creates exhibitions, installations, media, apps and artifacts in order to articulate research about how contemporary communications technology is changing the way we live, work, play, organise and create in cities, buildings and communities. Follow our activities on <a href="http://urbancodes.tumblr.com/">tumblr</a>.<br/><br/>
      .studioright
        <b>We are looking for:</b><br/>
        Creative coders, media artists, architects, web developers, electrical engineers, hardware hackers, mobile developers, graphic designers, urbanists and computer scientists.<br/><br/>
        %a.applybutton{href: "/apply"}
          Apply Now
        <br/><br/><br/>

  = javascript_include_tag "other"

