#header-white
	.center
		%a#logo.black-icon{href: '/'}
		%ul#nav.about-black
			%li
				%a{href: 'http://store.fabrica.it'} Store
			%li
				%a.current{href: '/studios.html'} Studios
			%li
				%a{href: '/about.html'} About
			%li
				%a{href: '/apply.html'} Apply

.page
	
	%h1#headline
		We work thematically and collaborate transdisciplinarily.
	%hr.primary

	%p.about.columns
		Our work is created in studio areas which individually investigate projects along themes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum arcu ut mauris egestas pretium. Sed eu convallis lacus. Nam viverra vel nibh id facilisis. Proin malesuada, tellus a tincidunt vulputate, magna enim faucibus felis, ut aliquam ante mi et diam. Fusce mollis tellus sem, sed lobortis turpis dictum ut. Suspendisse potenti. Sed ut blandit velit. Phasellus ullamcorper, leo vel luctus molestie, sapien lorem cursus nulla, sed placerat ante elit sed erat.

	.studio
		%p.studiotitle
			<b>Urban Codes</b>
		%p
			<b>Aaron Siegel</b>
			
	.studioinfo
		.studioleft
			Investigating the dense spaces where people collect and live out their lives. A focus on how people interact with each other and their environment, the norms and standards of living in an urban setting, navigation and communication in urban environments, and the types of artifacts people leave behind both physically and virtually.<br/>
			<br/>
			Subjects of research include sensing environmental characteristics, visualizing data collected and produced by people and things in urban areas, transportation and communication networks, graffiti and street art culture, activating public space for social engagement and play, and homelessness and nomadic living.
		.studioright
			<b>Research Positions:</b>
			%ul.studio
				%li
					Programmers (Java, C++, Python, PHP, SQL, OpenGL, Processing, OpenFrameworks, Cinder).
				%li
					Front-end Developers (Javascript, CSS, HTML5, WebGL, ProcessingJS, Three).
				%li
					Electrical Engineer (circuit design, sensors, actuators, materials, construction).
				%li
					Interface/Graphic Designer (Photoshop, Illustrator, InDesign).
				%li
					Architect/Draftsperson/Industrial Designer (Maya, AutoCAD, Rhino, SolidWorks, construction).

	.studio
		%p.studiotitle
			<b>Making and Designing</b>
		%p
			<b>Sam Baron</b>
	%div
		%p
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum arcu ut mauris egestas pretium. Sed eu convallis lacus. Nam viverra vel nibh id facilisis. Proin malesuada, tellus a tincidunt vulputate, magna enim faucibus felis, ut aliquam ante mi et diam. Fusce mollis tellus sem, sed lobortis turpis dictum ut. Suspendisse potenti. Sed ut blandit velit. Phasellus ullamcorper, leo vel luctus molestie, sapien lorem cursus nulla, sed placerat ante elit sed erat.
	.studio
		%p.studiotitle
			<b>New Journalism</b>
		%p
			<b>Enrico Bossan</b>
	%div
		%p
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum arcu ut mauris egestas pretium. Sed eu convallis lacus. Nam viverra vel nibh id facilisis. Proin malesuada, tellus a tincidunt vulputate, magna enim faucibus felis, ut aliquam ante mi et diam. Fusce mollis tellus sem, sed lobortis turpis dictum ut. Suspendisse potenti. Sed ut blandit velit. Phasellus ullamcorper, leo vel luctus molestie, sapien lorem cursus nulla, sed placerat ante elit sed erat.
	.studio
		%p.studiotitle
			<b>Campaign</b>
		%p
			<b>Erik Ravelo</b>
	%div
		%p
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum arcu ut mauris egestas pretium. Sed eu convallis lacus. Nam viverra vel nibh id facilisis. Proin malesuada, tellus a tincidunt vulputate, magna enim faucibus felis, ut aliquam ante mi et diam. Fusce mollis tellus sem, sed lobortis turpis dictum ut. Suspendisse potenti. Sed ut blandit velit. Phasellus ullamcorper, leo vel luctus molestie, sapien lorem cursus nulla, sed placerat ante elit sed erat.
	.studio
		%p.studiotitle
			<b>Document</b>
		%p
			<b>Ries Straver</b>
	%div
		%p
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum arcu ut mauris egestas pretium. Sed eu convallis lacus. Nam viverra vel nibh id facilisis. Proin malesuada, tellus a tincidunt vulputate, magna enim faucibus felis, ut aliquam ante mi et diam. Fusce mollis tellus sem, sed lobortis turpis dictum ut. Suspendisse potenti. Sed ut blandit velit. Phasellus ullamcorper, leo vel luctus molestie, sapien lorem cursus nulla, sed placerat ante elit sed erat.
	.studio
		%p.studiotitle
			<b>Sound Interaction</b>
		%p
			<b>Francesco Novara</b>
	%div
		%p
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum arcu ut mauris egestas pretium. Sed eu convallis lacus. Nam viverra vel nibh id facilisis. Proin malesuada, tellus a tincidunt vulputate, magna enim faucibus felis, ut aliquam ante mi et diam. Fusce mollis tellus sem, sed lobortis turpis dictum ut. Suspendisse potenti. Sed ut blandit velit. Phasellus ullamcorper, leo vel luctus molestie, sapien lorem cursus nulla, sed placerat ante elit sed erat.
	.studio
		%p.studiotitle
			<b>COLORS</b>
		%p
			<b>Patrick Waterhouse</b>
	%div
		%p
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum arcu ut mauris egestas pretium. Sed eu convallis lacus. Nam viverra vel nibh id facilisis. Proin malesuada, tellus a tincidunt vulputate, magna enim faucibus felis, ut aliquam ante mi et diam. Fusce mollis tellus sem, sed lobortis turpis dictum ut. Suspendisse potenti. Sed ut blandit velit. Phasellus ullamcorper, leo vel luctus molestie, sapien lorem cursus nulla, sed placerat ante elit sed erat.
	.studio
		%p.studiotitle
			<b>Networked Politics</b>
		%p
			<b>Marco Ferrari and Joseph Grima</b>
	%div
		%p
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum arcu ut mauris egestas pretium. Sed eu convallis lacus. Nam viverra vel nibh id facilisis. Proin malesuada, tellus a tincidunt vulputate, magna enim faucibus felis, ut aliquam ante mi et diam. Fusce mollis tellus sem, sed lobortis turpis dictum ut. Suspendisse potenti. Sed ut blandit velit. Phasellus ullamcorper, leo vel luctus molestie, sapien lorem cursus nulla, sed placerat ante elit sed erat.
	.studio
		%p.studiotitle
			<b>End</b>
		%p
			<b>Ivor Williams</b>
	%div
		%p
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum arcu ut mauris egestas pretium. Sed eu convallis lacus. Nam viverra vel nibh id facilisis. Proin malesuada, tellus a tincidunt vulputate, magna enim faucibus felis, ut aliquam ante mi et diam. Fusce mollis tellus sem, sed lobortis turpis dictum ut. Suspendisse potenti. Sed ut blandit velit. Phasellus ullamcorper, leo vel luctus molestie, sapien lorem cursus nulla, sed placerat ante elit sed erat.
